<h1>本の一覧</h1>

<% if user_signed_in? %>
  <!-- ログイン中のユーザーには「ログアウト」のリンクを表示 -->
  <p>ようこそ、<%= current_user.nickname %>さん！</p>
  <%= link_to 'マイリスト', my_list_user_path(current_user.id) %>
  <%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete} %>
<% else %>
  <!-- 未ログインのユーザーには「新規登録」と「ログイン」のリンクを表示 -->
  <%= link_to '新規登録', new_user_registration_path %> |
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>

<%= link_to '新しい本を投稿', new_book_path %>

<%= form_with url: books_path, method: :get, local: true do |b| %>
  <%= b.label :search, "本の名前で検索　" %>
  <%= b.text_field :search, value: params[:search], placeholder: "検索" %>
  <%= b.submit "検索" %>
<% end %>

<%= form_with url: books_path, method: :get, local: true do |b| %>
  <%= b.label :search, "キーワードで検索" %>
  <%= b.text_field :search, value: params[:search], placeholder: "検索"%>
  <%= b.submit "検索" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>著者</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
      <th>マイリスト</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= link_to '詳細', book_path(book) %></td>
        <td><%= link_to '編集', edit_book_path(book) %></td>
        <td><%= link_to '削除', book_path(book), data: {turbo_method: :delete, } %></td>
        <td>
          <% if user_signed_in? && current_user.books.include?(book) %>
            <%= link_to 'マイリストから削除', remove_from_mylist_book_path(book), method: :delete %>
          <% elsif user_signed_in? %>
            <%= link_to 'マイリストに追加', add_to_mylist_book_path(book), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
