<h1>新しい本を投稿</h1>

<%= form_with(model: @book, local: true) do |form| %>
  <% if @book.errors.any? %>
    <div>
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :題名 %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :著者 %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :説明 %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit '投稿' %>
  </div>
<% end %>

<%= link_to '一覧に戻る', books_path %>